@model AirlineTicketsApp.Entities.Flight

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Flight</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="FlightNumber" class="control-label"></label>
                <input asp-for="FlightNumber" class="form-control" />
                <span asp-validation-for="FlightNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TakeOffDestination" class="control-label"></label>
                <input asp-for="TakeOffDestination" class="form-control" />
                <span asp-validation-for="TakeOffDestination" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LandingDestination" class="control-label"></label>
                <input asp-for="LandingDestination" class="form-control" />
                <span asp-validation-for="LandingDestination" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TakeOffTime" class="control-label"></label>
                <input asp-for="TakeOffTime" class="form-control" />
                <span asp-validation-for="TakeOffTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LandingTime" class="control-label"></label>
                <input asp-for="LandingTime" class="form-control" />
                <span asp-validation-for="LandingTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlaneId" class="control-label"></label>
                <select asp-for="PlaneId" class="form-control" asp-items="ViewBag.PlaneId"></select>
                <span asp-validation-for="PlaneId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TicketPrice" class="control-label"></label>
                <input asp-for="TicketPrice" class="form-control" />
                <span asp-validation-for="TicketPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiscountPercentage" class="control-label"></label>
                <input asp-for="DiscountPercentage" class="form-control" />
                <span asp-validation-for="DiscountPercentage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
